
<nav class="navbar navbar-expand-sm ">
    <i class="fas fa-coffee fa-2x mr-3"></i>
    
    <form class="form-inline ">
        <a type="button" class="btn btn-outline-light" href="#!/cafeteria">Menu</a>
        <a type="button" class="btn btn-outline-light ml-3 mr-3" href="#!/cafeteria/pendientes">Reservas</a>
        <button class=" btn text-light">
            <a href="#!/cafeteria/reservas">
                <i class="fas fa-shopping-cart fa-2x"></i>
            </a>
        </button>
        
        
    </form>
    <form class="form-inline ml-auto" action="/action_page.php">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-light" type="submit">Buscar</button>
        <a href="#!/iniciar-sesion">
            <i id="iconUser" class="ml-2 fas fa-user-circle fa-2x "></i>
        </a>
        
    </form>
    
</nav>
