i{
    color: white;
}
body{
    /*background-image: url(seamless-pattern-coffee-icons_1085-946\ \(1\).jpg);*/
    background-image: url(15489.jpg);
    font-family: 'Montserrat';
}
.reservas{
    background-color:  rgba(214, 214, 214, 0.753);
    border-radius: 8px;
}
nav{
    height: 80px;
    background-color: #080808;
    
}

#Divproducto{
    border: solid;
    border-color: rgb(177, 177, 177);
    border-radius: 8px;
    background-color: rgba(214, 214, 214, 0.753);
}
#cont{
    width: 35px;
    text-align: center;
    
}
#subtotal{
    border: solid;
    border-color: rgb(177, 177, 177);
    border-radius: 8px;
    height: 80px;
    background-color: rgba(214, 214, 214, 0.753);
}
#NamPr{
    color: #1A1A1A;
    font-size: 21px;
    font-weight: bold;
}
#eliminar{
    width: 100%;
}
#btn-group{
    text-align: center;
}
#eliminarReservas{
    width: 310px;
}
#total{
    font-size: 25px;
    color: white;
}
hr{
    size: 15px;
}
h1{
    color: white;
}